.block{
	width: 100%;
	display: flex;
	margin-bottom: 10px;
}

.img{
	display: block;
	align-items:center;
	/* width: 50%; */
	height: 35vh;
	border-radius: 10px;
}

.info{
	font-size: 20px;
	/* display: block; */
	text-align: center;
	padding: 15px;
	line-height: 1.5;
	/* margin-top: auto;
	margin-bottom: auto; */
}
@media screen and (max-width: 1000px) {
	.info{
		font-size: 18px;
		text-align: center;
		padding: 10px;
		line-height: 1;
	}
}
@media screen and (max-width: 800px) {
	.img{
		display: none;
	}
}